/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
html {
  --i-color-primary: #409eff;
  --i-color-primary-light-3: rgb(121.3, 187.1, 255);
  --i-color-primary-light-5: rgb(159.5, 206.5, 255);
  --i-color-primary-light-7: rgb(197.7, 225.9, 255);
  --i-color-primary-light-8: rgb(216.8, 235.6, 255);
  --i-color-primary-light-9: rgb(235.9, 245.3, 255);
  --i-color-primary-dark-2: rgb(51.2, 126.4, 204);
  --i-color-success: #67c23a;
  --i-color-success-light-3: rgb(148.6, 212.3, 117.1);
  --i-color-success-light-5: rgb(179, 224.5, 156.5);
  --i-color-success-light-7: rgb(209.4, 236.7, 195.9);
  --i-color-success-light-8: rgb(224.6, 242.8, 215.6);
  --i-color-success-light-9: rgb(239.8, 248.9, 235.3);
  --i-color-success-dark-2: rgb(82.4, 155.2, 46.4);
  --i-color-warning: #e6a23c;
  --i-color-warning-light-3: rgb(237.5, 189.9, 118.5);
  --i-color-warning-light-5: rgb(242.5, 208.5, 157.5);
  --i-color-warning-light-7: rgb(247.5, 227.1, 196.5);
  --i-color-warning-light-8: rgb(250, 236.4, 216);
  --i-color-warning-light-9: rgb(252.5, 245.7, 235.5);
  --i-color-warning-dark-2: rgb(184, 129.6, 48);
  --i-color-danger: #f56c6c;
  --i-color-danger-light-3: rgb(248, 152.1, 152.1);
  --i-color-danger-light-5: rgb(250, 181.5, 181.5);
  --i-color-danger-light-7: rgb(252, 210.9, 210.9);
  --i-color-danger-light-8: rgb(253, 225.6, 225.6);
  --i-color-danger-light-9: rgb(254, 240.3, 240.3);
  --i-color-danger-dark-2: rgb(196, 86.4, 86.4);
  --i-color-error: #f56c6c;
  --i-color-error-light-3: rgb(248, 152.1, 152.1);
  --i-color-error-light-5: rgb(250, 181.5, 181.5);
  --i-color-error-light-7: rgb(252, 210.9, 210.9);
  --i-color-error-light-8: rgb(253, 225.6, 225.6);
  --i-color-error-light-9: rgb(254, 240.3, 240.3);
  --i-color-error-dark-2: rgb(196, 86.4, 86.4);
  --i-color-info: #909399;
  --i-color-info-light-3: rgb(177.3, 179.4, 183.6);
  --i-color-info-light-5: rgb(199.5, 201, 204);
  --i-color-info-light-7: rgb(221.7, 222.6, 224.4);
  --i-color-info-light-8: rgb(232.8, 233.4, 234.6);
  --i-color-info-light-9: rgb(243.9, 244.2, 244.8);
  --i-color-info-dark-2: rgb(115.2, 117.6, 122.4);
  --i-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --i-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --i-box-shadow-lighter: 0px 0px 3px rgba(0, 0, 0, 0.72);
  --i-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --i-bg-color-page: #0a0a0a;
  --i-bg-color: #141414;
  --i-bg-color-overlay: #1d1e1f;
  --i-text-color-primary: #e5eaf3;
  --i-text-color-regular: #cfd3dc;
  --i-text-color-secondary: #a3a6ad;
  --i-text-color-placeholder: #8d9095;
  --i-text-color-disabled: #6c6e72;
  --i-border-color-darker: #636466;
  --i-border-color-dark: #58585b;
  --i-border-color: #4c4d4f;
  --i-border-color-light: #414243;
  --i-border-color-lighter: #363637;
  --i-border-color-extra-light: #2b2b2c;
  --i-fill-color-darker: #424243;
  --i-fill-color-dark: #39393a;
  --i-fill-color: #303030;
  --i-fill-color-light: #262727;
  --i-fill-color-lighter: #1d1d1d;
  --i-fill-color-extra-light: #191919;
  --i-fill-color-blank: transparent;
  --i-mask-color: rgba(0, 0, 0, 0.8);
  --i-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}

:root {
  /** Body */
  --v3-body-text-color: var(--i-text-color-primary);
  --v3-body-bg-color: var(--i-bg-color-page);
  /** Header 区域 = NavigationBar 组件 + TagsView 组件 */
  --v3-header-height: calc(
    var(--v3-navigationbar-height) + var(--v3-tagsview-height) + var(--v3-header-border-bottom-width)
  );
  --v3-header-bg-color: var(--i-bg-color);
  --v3-header-box-shadow: var(--i-box-shadow-lighter);
  --v3-header-border-bottom-width: 1px;
  --v3-header-border-bottom: var(--v3-header-border-bottom-width) solid var(--i-border-color-lighter);
  /** NavigationBar 组件 */
  --v3-navigationbar-height: 50px;
  --v3-navigationbar-text-color: var(--i-text-color-regular);
  /** Sidebar 组件（左侧模式全部生效、顶部模式全部不生效、混合模式非颜色部分生效） */
  --v3-sidebar-width: 256px;
  --v3-sidebar-hide-width: 58px;
  --v3-sidebar-border-right: 1px solid var(--i-fill-color);
  --v3-sidebar-menu-item-height: 60px;
  --v3-sidebar-menu-tip-line-bg-color: var(--i-color-primary);
  --v3-sidebar-menu-bg-color: #001428;
  --v3-sidebar-menu-hover-bg-color: #409eff10;
  --v3-sidebar-menu-text-color: #cfd3dc;
  --v3-sidebar-menu-active-text-color: #ffffff;
  /** TagsView 组件 */
  --v3-tagsview-height: 34px;
  --v3-tagsview-text-color: var(--i-text-color-regular);
  --v3-tagsview-tag-active-text-color: #ffffff;
  --v3-tagsview-tag-bg-color: var(--i-bg-color);
  --v3-tagsview-tag-active-bg-color: var(--i-color-primary);
  --v3-tagsview-tag-border-radius: 2px;
  --v3-tagsview-tag-border-color: var(--i-border-color-lighter);
  --v3-tagsview-tag-active-border-color: var(--i-color-primary);
  --v3-tagsview-tag-icon-hover-bg-color: #00000030;
  --v3-tagsview-tag-icon-hover-color: #ffffff;
  --v3-tagsview-contextmenu-text-color: var(--i-text-color-regular);
  --v3-tagsview-contextmenu-hover-text-color: var(--i-text-color-primary);
  --v3-tagsview-contextmenu-bg-color: var(--i-bg-color-overlay);
  --v3-tagsview-contextmenu-hover-bg-color: var(--i-fill-color);
  --v3-tagsview-contextmenu-box-shadow: var(--i-box-shadow);
  /** Hamburger 组件 */
  --v3-hamburger-text-color: var(--i-text-color-primary);
  /** RightPanel 组件  */
  --v3-rightpanel-button-bg-color: #001428;
}

/** 内容区放大时，将不需要的组件隐藏 */
body.content-large {
  /** Header 区域 = TagsView 组件 */
  --v3-header-height: var(--v3-tagsview-height);
  /** NavigationBar 组件 */
  --v3-navigationbar-height: 0px;
  /** Sidebar 组件 */
  --v3-sidebar-width: 0px;
  --v3-sidebar-hide-width: 0px;
}

/** 内容区全屏时，将不需要的组件隐藏 */
body.content-full {
  /** Header 区域 */
  --v3-header-height: 0px;
  /** NavigationBar 组件 */
  --v3-navigationbar-height: 0px;
  /** Sidebar 组件 */
  --v3-sidebar-width: 0px;
  --v3-sidebar-hide-width: 0px;
  /** TagsView 组件 */
  --v3-tagsview-height: 0px;
}
